@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Podkova:300,400,700);


body {
    background-color: #3f4c6b;
    color:#fff;
    font-size:16px;
    font-family: 'Open Sans', 'Arial';
}

h1,h2,h3,h4,h5 {
    font-family: 'Podkova';
}

codefresh-logo-l.png

.dark_bg {
    background-color: #000;
    color:#fff;
    -webkit-box-shadow: 2px 2px 4px 1px #CCCCCC;
    box-shadow: 2px 2px 4px 1px #CCCCCC;

    background: #3f4c6b; /* Old browsers */
    background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

}

.btn {
    margin:0px 5px;
}

a {
    color: #007edf;
    text-decoration: none;
}

a:hover {
    color: #007edf;
    text-decoration: underline;
}



header {
    padding:20px 0px;
    height:300px;
}

.logo {
    height:85px;
    width:100px;
    background-image: url(img/codefresh-logo-l.png);
    float:right;
}

section {
    background-color: #fff;
    color:#000;
    padding:30px 0px;
}

footer {
    padding:30px 0px;
}