{
  "Name": "Run Example",
  "ServiceId": "io.codefresh.orion.client.node.runner",
  "Params": {
    "Name": "Run",
    "Target": {
      "Cmd": [
        "node",
        "app.js"
      ],
      "Module": "app.js",
      "Space": "Node"
    }
  },
  "Url": "http://ws-qjisklno.env.codefresh.io:9000/",
  "Path": "",
  "Type": "NodeRunner"
}